<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
    <body>
    	<table>
    		{%	for key, value in METAs %}
    			<tr><td>{{ key }}</td><td>{{ value }}</td></tr>
		    {% endfor %}
		</table>
		<br><br><br>
    	<table>
    		{%	for key in POSTs %}
    			<tr><td>{{ key }}</td><td></td></tr>
		    {% endfor %}
		</table>
		<br><br><br>
    	<table>
    		{%	for key in GETs %}
    			<tr><td>{{ key }}</td><td></td></tr>
		    {% endfor %}
		</table>
    
    </body>
</html>
